/*generic*/

body {
    margin: 0;
    background-color: #F1F1F1;
}

.tooltip {
    display: none;
}

a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
}


/*top Bar*/

.topBar {
    display: inline-block;
    position: fixed;
    overflow: hidden;
    background-color: #104581;
    width: 100%;
    height: 66px;
    z-index: 2;
    margin: 0;
}

.topBarIconGroup {
    float: right;
}

.topBarIconGroup a {
    font-size: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.topBarIconGroup a:hover {
    background-color: #222222;
}

.modelName {
    height: 40px;
    margin-top: 12px;
    margin-left: 42%;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
}


/*side Bar*/

.sideBar {
    margin: 0;
    position: fixed;
    background-color: #222222;
    width: 66px;
    height: 100%;
    overflow: hidden;
}

.sideBarIconGroup {
    margin-top: 66px;
}

.sideBarIconGroup a {
    font-size: 200%;
    display: block;
    text-align: center;
}

.sideBarIconGroup a:hover {
    background-color: #104581;
}


/*Model Text*/


#mySavedModel {
    width: 100%;
    height: 400px;
}


#myModel {
    width: 100%;
    height: 400px;
}


#JsonText {
    display: none;
}


/*Model graphic*/

.canvas {    
    position: absolute;
    margin-left: 70px;
    margin-top: 70px;
    background: #fff;
    z-index: -3;
}

#myDiagramDiv {   
    border: solid 1px #000;
    width: 1600px;
    height: 600px;
    background: #fff;    
}