#createFeatureModal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 6%;
    top: 10%;
    width: 250px;
    height: 150px;
    background-color: #fff;
    border-style: solid;
    border-radius: 10px;
}

#nameFeatureTextField, #featureTypeComboBox {
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 2% 15%;
}

#createFeatureSubmitButton {
    background-color: #225889;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin: 20px 30%;
}