/*Create Feature*/

.featureModal {
    display: none;
    position: fixed;
    left: 5%;
    z-index: 5;
    color: #fff;
    background-color: #429dff;
    border-style: solid;
    border-radius: 10px;
}

.featureModal label {
    display: block;
    width: 70%;
    box-sizing: border-box;
    margin: 3% 15%;
}

#nameFeatureTextField, #featureTypeComboBox {
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 2% 15%;
}

#createFeatureSubmitButton {
    background-color: #225889;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin: 20px 30%;
}


/*Load file*/

.loadFileModal {
    display: none;
    position: fixed;
    left: 75%;
    z-index: 5;
    color: #fff;
    background-color: #429dff;
    border-style: solid;
    border-radius: 10px;
}

.loadFileModal label {
    display: block;
    width: 70%;
    box-sizing: border-box;
    margin: 3% 15%;
}

#fileInput {
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 2% 15%;
}

#loadFileSubmitButton {
    background-color: #225889;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin: 20px 30%;
}


/*Association Modal*/

.associationModal {
    display: none;
    position: fixed;    
    left: 5%;
    top: 30%;
    z-index: 5;
    color: #fff;
    background-color: #429dff;
    border-style: solid;
    border-radius: 10px;
}

.associationModal label {
    display: block;
    width: 70%;
    box-sizing: border-box;
    margin: 3% 15%;
}

#feature1ComboBox, #feature2ComboBox {
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 2% 15%;
}

#createAssociationSubmitButton {
    background-color: #225889;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin: 20px 30%;
}


/* Close Button */

.closeButton .fa-times {
    color: #fff;
    float: right;
    padding-right: 5px;
}

.closeButton .fa-times:hover, .closeButton .fa-times:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}