html,body{ border:0px; padding:0px; margin:0px;}

text{
	font-family:Arial;
	font-size:12px;
}

#header{
	background-color:#aaa;
	padding:20px;
}
.menu{	
	float:left;
	width:200px;
	background-color:transparent;
}

.menu {
	margin:3px;
	border:1px;
	padding:5px;
	font-family:Arial;
	font-size:10px;
	background-color:transparent;
}
.menu1 {
	border-left:1px solid Gray;
	border-top:1px solid gray;
	border-bottom:1px solid black;
	border-right:1px solid black;
 	margin:0px;
	padding:4px;
	padding-bottom:1px;
	font-family:Arial;
	font-size:10px;
	background-color:#D3D3D3;
}

.menu a{
	width:190px;
	margin-bottom:1px;
	display:block;
	text-decoration:none;
	color:#000;
	background-color:transparent;
}
.menu1 a{
	padding:1px;
	height:30px;
	width:36px;
	margin-left:75px;
	margin-bottom: 1px;
	display:block;
	text-decoration:none;
	color:#000;
	background-color:transparent;
}
#diagram{
	border-left:1px solid GRAY;
	border-top:1px solid GRAY;
	background-image: url("diagram_bg.jpg");
	background-repeat: repeat;
	overflow:scroll;
	position:fixed;
	z-index:-11;
	top:80px;
	left:200px;
}

#diagsvg{
	height:100%;
	width:100%;
	z-index:-1;
}

.draggable {
	cursor: move;
}